{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static "fullcalendar/dist/fullcalendar.css" %}"/>

</head>

<body ng-app="dashboard">

	{% for availability in my_availabilities %}
	start date
	{{ availability.start_date.date.year }}
	{{ availability.start_date.date.month }}
	{{ availability.start_date.date.day }}
	start time
	{{ availability.start_date.time.hour }}
	{{ availability.start_date.time.minute }}
	end date
	{{ availability.end_date.date.year }}
	{{ availability.end_date.date.month }}
	{{ availability.end_date.date.day }}
	end time
	{{ availability.end_date.time.hour }}
	{{ availability.end_date.time.minute }}
	{% endfor %}	
	
	<p>At the dashboard view</p>

	<div ng-controller="CalendarController">
		<div id="calendar" class="calendar" ui-calendar="calendarOptions.calendar" ng-model="eventSources"></div>
	</div>


	<!-- Scripts -->
	<!-- jquery, moment, and angular have to get included before fullcalendar -->
	<script type="text/javascript" src="{% static "jquery/dist/jquery.min.js" %}"></script>
	<script type="text/javascript" src="{% static "moment/min/moment.min.js" %}"></script>
	<script type="text/javascript" src="{% static "angular/angular.min.js" %}"></script>
	<script type="text/javascript" src="{% static "angular-ui-calendar/src/calendar.js" %}"></script>
	<script type="text/javascript" src="{% static "fullcalendar/dist/fullcalendar.min.js" %}"></script>
	<script type="text/javascript" src="{% static "fullcalendar/dist/gcal.js" %}"></script>

	<!-- TODO: shift to main.js -->
	<!-- Angular UI Calendar https://github.com/angular-ui/ui-calendar -->
	<script type="text/javascript">
		angular.module('dashboard', ['ui.calendar']).controller('CalendarController', function($scope) {

			//TODO: remove test data
			$scope.events = [
			{ 
				title: "Birthday",
				start: new Date(2016, 1, 21),
				textColor: 'black'
			},
			{ 
				title: "Anniversary",
				start: new Date(2016, 1, 22, 19, 30),
				end: new Date(2016, 1, 23, 19, 30),
				color: '#00A896'
			},
			{ 
				title: "Conference",
				start: new Date(2016, 1, 23),
				end: new Date(2016, 1, 24),
				color: "yellow",
				textColor: "black"
			}
			];

			$scope.eventSources = [$scope.events];

			$scope.eventClick = function(event, jsEvent, view) {
			};

			$scope.eventMouseover = function(event, jsEvent, view) {
			};

			$scope.eventMouseout = function(event, jsEvent, view) {
			};

			$scope.calendarOptions = 
			{
				calendar: {
					height: 600,
					editable: true,
					header: {
						left: 'title',
						center: '',
						right: 'month agendaWeek agendaDay today prev,next'
					},
					eventClick: $scope.eventClick,
					eventMouseover: $scope.eventMouseover,
					eventMouseout: $scope.eventMouseout,
				}
			};

		});

	</script>
</body>
</html>