body {
  padding: 0;
  margin: 0;
  background: #e6ebe0;
  color: #333;
}
h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}
h2 {
  color:#5ca4a9;
}
.header {
  background: #028090;
  padding: 70px 0 80px 0;
  text-align: center;
  margin-bottom: 25px;
}
.header h1 {
  padding-top: 30px;
  color: #e6ebe0;
}
.header img {
  border: 5px solid #ed6a5a;
}
.navbar {
  margin-bottom: 0;
  background: #028090;
  border: 0;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
  color: #ed6a5a;
}
.content h1 {
  color: #9bc1bc;
  padding-bottom: 10px;
  font-size: 20px;
}
.preferences {
    line-height: 35px;
}
.preferences span, .container.group span  {
  background: #ed6a5a;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
span.vote {

}
.calendar {
  width: 50%;
}
.header.group h1 {
  font-weight: 600;
}
.group h1 {
  text-align: left;
}
.group h3 {
  color: #5ca4a9;
}
.header.group span {
  color: #9bc1bc;
  font-weight: 100;
}
.group .users {
  text-align: right;
  letter-spacing: 20px;
  line-height: 80px;
}
.group li {
  font-size: 20px;
}
